<h2>Invoice</h2>
<p><strong>Voucher ID:</strong>{{ voucher.id }}</p>
<p><strong>Date:</strong>{{ voucher.created_at }}</p>
<p><strong>Name:</strong>{{ voucher.name }}</p>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<div class="top-bar">
    <button class="btn btn-orange no-print" onclick="window.print()">Print</button>
</div>

<div class="no-print" style="margin-top:20px;">
    <a href="{{ url_for('voucher.create_voucher') }}">
        <button class="btn btn-green btn-small">+ Add New Voucher</button>
    </a>
    <a href="{{ url_for('voucher.voucher_history') }}">
        <button class="btn btn-orange btn-small">View History</button>
    </a>
</div>

<table border="1" width="100%">
    <tr>
        <th>No.</th>
        <th>Size</th>
        <th>Weight</th>
        <th>Price</th>
        <th>Total</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.weight }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4" style="text-align: right;"><strong>Grand Total</strong></td>
        <td><strong>{{ "%.4f"|format(voucher.total|float) }}</strong></td>
    </tr>
</table>



